.upload-image-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.upload-image-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
}

.upload-image-dropzone-text {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  text-align: center;
  padding: 60px 0;
  top: 0;
  left: 0;
  opacity: 0.5;
}

a[href="https://froala.com/wysiwyg-editor"], a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
  position: absolute;
  top: -99999999px;
}
